body {
    background-color: white;
    margin: 0px;
    font-family: consolas;
}

.logo {
    position: absolute;
    top: 2%;
    left: 50%;
    cursor: pointer;
}

.menu a {
    display: inline;
    text-align: center;
    margin-right: 130px;
    margin-left: 130px;
    cursor: pointer;
}

.menu a:hover {
    color: #7e7e7e;
}

.menu {
    display: none;
    padding-top: 100px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .menu {
    display: block;
}

.jumbotron {
    margin-top: 65px;
    border-top: 1px solid rgb(231, 231, 231);
}

.bloque1 {
    float: left;
    padding-top: 70px;
    padding-left: 200px;
}
 .bloque1 p {
    margin-top: 0px;
    font-size: 20px;
    max-width: 300px;
 }

 .jumbotron h1 {
    display: inline;
    font-size: 70px;
}

.bloque2 {
    box-sizing: border-box;
    float: right;
    margin-top: 180px;
    margin-right: 230px ;
}

.bloque2 button {
    background-color: black;
    color: white;
    border: solid;
    border-radius: 100px;
    font-size: 23px;
    padding: 15px 80px;
    cursor: pointer;
    
}

.bloque2 p {
    color: #7e7e7e;
    text-align: center;
    margin-top: 3px;
    font-size: 13px;
}

.catalogo {
    display: inline-grid;
    grid-auto-columns: 230px;
    grid-auto-flow: column;
    padding-top: 200px;
    padding-left: 18px;
    grid-column-gap: 45px;
}
.tarjeta {
    display: grid;
    text-align: center;
}

.tarjeta img {
    padding-left: 60px;
}

