body {
    background-color: white;
    margin: 0px;
    font-family: consolas;
}

.logo {
    position: absolute;
    top: 2%;
    left: 50%;
    cursor: pointer;
}

.menu a {
    display: inline;
    text-align: center;
    margin-right: 130px;
    margin-left: 130px;
    cursor: pointer;

}

.menu a:link {
    color: black;
    text-decoration: none;
}

.menu a:visited {
    color: black;
}

.menu {
    display: none;
    padding-top: 100px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .menu {
    display: block;
}

.jumbotron {
    margin-top: 65px;
    border-top: 1px solid rgb(231, 231, 231);
}

.bloque1 {
    float: left;
    padding-top: 70px;
    padding-left: 200px;
}
 .bloque1 p {
    margin-top: 0px;
    font-size: 20px;
    max-width: 300px;
 }

 .jumbotron h1 {
    display: inline;
    font-size: 70px;
}

.bloque2 {
    box-sizing: border-box;
    float: right;
    margin-top: 180px;
    margin-right: 230px ;
}

.bloque2 button {
    background-color: black;
    color: white;
    border: solid;
    border-radius: 100px;
    font-size: 23px;
    padding: 15px 80px;
    cursor: pointer;
    
}

.bloque2 p {
    color: #7e7e7e;
    text-align: center;
    margin-top: 3px;
    font-size: 13px;
}

.catalogo {
    display: inline-grid;
    grid-auto-columns: 230px;
    grid-auto-flow: column;
    padding-top: 200px;
    padding-left: 18px;
    grid-column-gap: 45px;
}
.tarjeta {
    display: grid;
    text-align: center;
}

.tarjeta img {
    padding-left: 60px;
}

.blog {
    padding: 110px 100px;
    display: block;
}
 .blog .tittle {
    text-align: center;
    font-size: 70px;
 }


.uno p {
    max-width: 400px;
}

.dos p {
    max-width: 450px;
}

.tres ul{
    max-width: 500px;
}
.entrada1 {
    padding-bottom: 100px;
}

.entrada2 {
    padding-bottom: 100px;
}

.entrada3 {
    padding-bottom: 100px;
}

.entrada4 {
    padding-bottom: 200px;
}
.cuatro {
    max-width: 450px;
    padding-bottom: 300px;
}


.entrada1 h1 {
    max-width: 400px;
}

.entrada2 h1 {
    max-width: 400px;
}

.entrada3 h1 {
    max-width: 400px;
}

.entrada4 h1{
    max-width: 400px;
}

 .blog {
    padding-bottom: 0px;
 }

.qr {
    float: left;
    padding-left: 300px;
    padding-top: 130px;
}

.qr p {
    text-align: center;
}

 .contacto {
    padding-bottom: 200px;
    padding-right: 200px;
    width: 400px;
    height: 400px;
    float: right;
    text-align: center;
}

fieldset input {
    width: 300px;
    margin-top: 10px;
}

fieldset textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 150px;
}

.ftr {
    margin-top:600px;
    padding-top: 30px;
    width:100%;
    height:70px;
    border-top: 1px solid rgb(231, 231, 231);
    
}

.ftr a {
    display: inline;
    text-align: center;
    margin-right: 110px;
    margin-left: 105px;
    cursor: pointer;
}

.ftr a:link {
    color: black;
    text-decoration: none;
}

.ftr a:visited {
    color: black;
}

.ftr img {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}